<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="cryptoType" value="aes256" />
		<add key="cryptoKey" value="b9930bdae9ea332bc4894bc09a9bfe1759f6109e735a9c633ef06c0f72a1f982" />
		<add key="checksumType" value="sha1" /> 
		<add key="compressionType" value="gzip" /><!-- this is the only available compression type -->
		<add key="rootPath" value="/Users/yc/temp/kraken" />
		<add key="cacheFolder" value="cache" />
		<add key="storeFolder" value="store" />
		<add key="dbFolder" value="db" />
		<add key="dbFile" value="testdb.db" />
	</appSettings>
</configuration>
