<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!-- 
		currently only the following are supported. NOTE - the change of the encryption will have no impact 
		on older files, as they retain their original encryption scheme and is never changed again unless done
		via external processes.
		
		  none. No encryption.
		  
		  aes128. Requires 128bit key (32 hex chars length
		  
		  aes256. Requires 256bit key (64 hex)
		-->
		<add key="cryptoType" value="aes256" />
		
		<!-- 
		Crypto Key needs to match the size of cryptoType. See above for the sizes of the key.
		-->
		<add key="cryptoKey" value="b9930bdae9ea332bc4894bc09a9bfe1759f6109e735a9c633ef06c0f72a1f982" />
		
		<!--
		Available checksum implemented.
		
		sha1 - 40 hex chars length
		
		sha256 - 64 hex
		
		sha512 - 128 hex
		
		MD5 - 32 hex
		-->
		<add key="checksumType" value="sha1" /> 
		
		<!-- 
		This can either be none or gzip.
		
		No other compression types are supported as gzip is the de facto http transfer compression (so we can just "push" the file).
		
		-->
		<add key="compressionType" value="gzip" />
		
		<!--
		rootPath determines where your data will reside.
		
		This defaults to where the current working directory is without the key.
		-->
		<add key="rootPath" value="/Users/yc/temp/kraken" />
		
		<!-- 
		blobFolder holds the blobs.
		-->
		<add key="blobFolder" value="blob" />
		
		<!--
		folderLevels determines how many fix level of nested folders we should have for this particular repo.
		
		This is used to tune based on the anticipated size of folders.
		
		The more levels in the folders, the fewer we need/likely hold per folder.
		
		-->
		<add key="folderLevels" value="3" />
		
		<!--
		folderNameLength is used for chunking up the checksum for each of the folder level.
		
		When the folderName length is short, there will be fewer combinations of folders (i.e. there will be
		more files per folder).
		-->
		<add key="folderNameLength" value="2" />
		
		<add key="cacheFolder" value="cache" />
		<add key="dbFolder" value="db" />
		<add key="dbFile" value="testdb.db" />
	</appSettings>
</configuration>
